img {
    border: 0;
    width: auto;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}
.nav{
    margin-top:25px;
    line-height: 2 !important;
}
.nav ul li:nth-child(6){
    line-height: 2 !important;
    border: 1px solid #fff;
    border-radius:6px;
}
header .container{
    display: flex;
}
header {
    background: none;
    z-index: 99999999;
    position: absolute;
    left: 0;
    right: 0;
}
.nav{
    float: right;
    background: none !important;
}
.nav ul{
    background: none !important;
}
.carousel-caption {
    bottom: 25% !important;
}

.carousel-item {
    max-height: 65vh;
}

.banner-h1 {
    font-size: 2.8rem;
    font-weight: 100;
}
.slide {
    top: 0;
}

.silder-btn-section {
    margin-top: 80px;
}

.slider-btn {
    margin-top: 50px;
    color: #fff;
    border-radius: 30px;
    padding: 6px 25px 6px 25px;
    text-transform: uppercase;
    background-image: linear-gradient(to left, rgb(41, 202, 187) 0%, rgb(21, 167, 234) 100%);
}

.carousel-indicators li {
    border-radius: 50%;
    width: 8px;
    height: 8px;
}


/*################## dvproject ####################*/

.dvproject .list-inline {
    margin-left: -25px;
    padding: 20px 0;
    text-align: center;
    background: #f8f8f8;
}

.dvproject ul.list-inline li.list-inline-item {
    padding: 0 15px;
}

.dvproject ul.list-inline li.list-inline-item a img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.dvproject ul.list-inline li.list-inline-item a img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}



/*#############################*/

.text-vertical-center {
    display: table;
    height: 445px;
    overflow: hidden;
}

.alignment {
    display: table-cell;
    vertical-align: middle;
}

.dvServices .btn {
    margin-top: 40px;
    border: 1px solid gray;
    border-radius: 30px;
    padding: 6px 20px;
}

.dvServices .row:nth-child(2) {
    position: relative;
    top: -80px;
}

.dvServices .row:nth-child(3) {
    position: relative;
    top: -140px;
}
.dvServices {
    max-height: 1445px;
}
/*#####################*/
.help-client-section{
    position: relative;
    height: 360px;
    background-image: url(../images/4.jpg);
}
section.help-client-section .h1 {
    text-align: center !important;
    color: #fff;
}
.help-client-section .slider-btn {
    padding: 9px 25px 9px 25px;
}
.alignment-cen {
    position: absolute;
    right: 0;
    left:0;
    top: 25%;
    bottom: 0;
}


/*Testimonial Quotes*/
.testimonial-quote.whitecolor {
    padding: 0 10rem;
}
div#testimonial-quote {
    position: absolute;
}
.padding .h2{
        padding-bottom: 80px;
}

.padding {
    padding-top:  3.5rem;
    padding-bottom: 3.5rem;   
}
.owl-dots {
    z-index: 9999;
    position: relative;
    margin-top: 2rem;
    display: inline-flex;
    top: 20px;
}
#owl-thumbs.owl-dots {
     text-align: center; 
}

#owl-thumbs.owl-dots .owl-dot {
    background: transparent;
        height: 70px;
    margin: 0;
    position: relative;
    width: 70px;
    border: 5px solid rgba(159, 159, 159, 0.3);
    margin-left: -30px;
    opacity: .65;
    -webkit-transform: scale(.95);
    -ms-transform: scale(.95);
    -o-transform: scale(.95);
    transform: scale(.95);
    border-radius: 50%;
}
#owl-thumbs.owl-dots .owl-dot>img {
    width: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
#owl-thumbs.owl-dots .owl-dot:first-child {
    margin-left: 0;
}
#owl-thumbs.owl-dots .owl-dot:hover, #owl-thumbs.owl-dots .owl-dot.active {
    z-index: 5;
    opacity: 1;
    /*height: 90px;
    width:90px;*/
    border: 5px solid rgba(79, 77, 77, 0.3);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1.1);
}
.owl-dot img {
    vertical-align: middle;
    border-style: none;
}




/*-------------------------------*/


/* Testimonials ends*/
.big-btn{
    background-image: linear-gradient(to left, rgb(41, 202, 187) 38%, rgb(21, 167, 234) 73%);
    border-radius: 10px;
    color: #fff;
}
.flex{
    display: inline-flex;
}
.big-btn img{
    height: 60px;
    margin-top: 8px;
    margin-right: 10px;
}
.flex h3,.flex p{
    margin-bottom: 0px !important;
}
.flex .text{
        padding: 9px;
}
.flex .text-2{
padding: 20px;
}
.ft-list{
    padding-top: 40px;
    padding-left: 0px;
    margin-left: 0;
    list-style: none;
}


@media only screen and (max-width: 768px) {
    .text-vertical-center {
        height: 285px;
    }
    header{
        background: #26201C;
    }
    .nav{
        background: #26201C;
    }
    .nav ul{
    background: #26201C !important;
}
}
@media only screen and (max-width: 991px) {
    header{
        background: #26201C;
    }
    .nav{
        background: #26201C;
    }
    .nav ul{
    background: #26201C !important;
}
}